# Gradle
.gradle/
build/

# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# IDE
.idea/
.vscode/

# Local config
local.properties

# Android captures
captures/

# Sensitive files (VERY IMPORTANT)
key.properties
**/*.keystore
**/*.jks

# Optional
GeneratedPluginRegistrant.java
